

/*******************************************************************************************************************************/

.categories h1{
    color: white;
    text-align: center;
    padding-top: 50px;
}

.categories ul{
    margin-left: 55px;
}



.box1{
    float: left;
    height: 220px;
    width: 340px;
    background-color: aqua;
    margin:0px 30px ;
    margin-top: 30px;
    border-radius: 3vh;
    display: flex;
   
}

.box1 img{
    height: 220px;
    width: 350px;
    filter:brightness(70%);
    border-radius: 3vh;
    border: 2px solid white;
    position: relative;
   z-index: 1;
   left: -65px;
    
}

.box1 p{
    color: white;
    font-size: x-large;
    z-index: 1;
    
    background-color: transparent;
    position: relative;
   left: -40px;
   top: -45px;
    font-weight: bolder;
    
}



/*************************************************************************************************************/
